/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.3);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F59E0B;
}